<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Revisión de Detalles de Liquidaciones</title>
    <link rel="stylesheet" href="../views/css/style.css">
</head>
<body>
    <h2>Revisión de Detalles de Liquidaciones</h2>
    <a href="index.php?controller=detalleliquidacion&action=list">Volver a Lista</a>
    <table id="detallesLiquidacionesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Liquidación</th>
                <th>Número Factura</th>
                <th>Proveedor</th>
                <th>Total Factura</th>
                <th>Estado</th>
                <th>Archivos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="../views/js/detalle_liquidaciones.js"></script>
</body>
</html>